html {
    box-sizing: border-box;
    font-size: calc(var(--font-body-scale) * 62.5%) !important;
    height: 100%;
}
.quiz-block {
  position: realtive;
  overflow: hidden;
}
.quiz-block iframe{
  width: 100%;
  height: 100vh;
}
.quiz-block .whai-sticky{
  position: relative; 
}
.whai-brand-container {
  display: none !important;  
}